body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
    background-position: left;
    background-size: cover;
}

nav {
    background-color: white;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-sizing: border-box;
    position: fixed;
}

nav>img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

nav div {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.menu-item {
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-right: 30px;
    cursor: pointer;
}

.dropdown-wrapper {
    display: block;
    position: relative;
}

.dropdown-wrapper:hover .dropdown {
    display: block;
}

.dropdown {
    width: 150px;
    border-top: 2px solid rgb(170, 210, 54);
    padding: 20px;
    position: absolute;
    right: 24px;
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    display: none;
}

.dropdown a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
}

.dropdown a:last-of-type {
    border: 0;
}

.menu-item i {
    padding-left: 4px;
}

#menu-button {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    border-radius: 4px;
    border-style: none;
}


/* ..........section 1..... */

#landing-section {
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100vh;
}

#sect1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sect1 h1 {
    width: 100%;
    max-width: 1100px;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
}

#sect1>p {
    width: 100%;
    max-width: 1100px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #8b8b99;
    text-align: center;
    padding-top: 32px;
}


/* ...........section 2........... */

#sect2 {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;
}

#sect2 i {
    font-size: 96px;
    font-weight: 900;
    transition-property: transform;
    transition-duration: 0.3s;
}

.block:hover i {
    transform: scale(1.1, 1.1);
}

.block {
    width: 25%;
    display: block;
    text-align: center;
    color: white;
    padding: 112px 48px;
    box-sizing: border-box;
}

.block:nth-child(1) {
    background-color: #5acda6;
}

.block:nth-child(2) {
    background-color: #91ac41;
}

.block:nth-child(3) {
    background-color: #e4b476;
}

.block:nth-child(4) {
    background-color: pink;
}

#sect2 h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

#sect2 p {
    /* max-width: 400px; */
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}


/* .........section 3..... */

#store-section {
    width: 100%;
    background-color: #f7eee2;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

#fresh-food-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}

#store-section>h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

#store-desc {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}

#store-items-wrapper {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin: 0 auto;
}

.store-item {
    width: 25%;
    text-align: center;
    padding: 24px;
    display: block;
}

.icon-wrapper {
    display: inline-block;
    background-color: #e3b375;
    border-radius: 50%;
    padding: 40px;
    color: white;
    transition: all 0.3s;
}

.store-item:hover .icon-wrapper {
    transform: scale(1.1, 1.1);
}

.icon-wrapper i {
    font-size: 60px;
}

.store-item h3 {
    font-size: 24px;
    font-weight: 600;
}

.store-item p {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
}


/* section 4 */

#workers-section {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

#workers-section>h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

#workers {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
}

.workers-column {
    display: block;
    margin: 10px;
    background-color: #f5f6fb;
    border-radius: 45px 0px 45px 45px;
    width: 25%;
    margin: 16px;
    padding: 40px 30px;
    transition: box-shadow 0.3s;
}

.workers-column:hover {
    box-shadow: 0 12px 16px 0 rgba(39, 39, 47, 0.06);
}

.workers-column>img {
    border-radius: 50%;
    width: 80px;
    margin-bottom: 25px;
}

#workers-message {
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    color: #8b8b99;
    margin: 0;
}

.workers-column h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0;
}

#job-role {
    font-size: 12px;
    color: #8b8b99;
    font-style: italic;
    margin: 0;
}


/* section-5 */

#subscribe-section {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

#left-section {
    width: 67%;
    display: inline-block;
    margin: 0;
}

#left-section img {
    width: 100%;
}

#right-section {
    width: 33.33%;
    background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png);
    background-position: left;
    background-size: cover;
    display: inline-block;
    margin: 0;
}

#right-section #text-wrapper {
    margin: 115px;
}

#right-section #text-wrapper h1 {
    font-size: 44px;
    font-weight: 600;
    margin: 0 0 8px;
}

#right-section #text-wrapper p {
    color: #8b8b99;
    font-size: 16px;
    letter-spacing: 0.5;
    line-height: 1.6;
    margin: 0;
}

#email {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    background-color: white;
    padding: 12px;
    color: #8b8b99;
    font-size: 16px;
    margin-top: 60px;
    display: block;
}

#sub-button {
    background-color: #f69dad;
    padding: 16px 42px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    margin-top: 16px;
}

#sub-button:hover {
    border: 1px solid rgba(238, 42, 42, 0.4);
    background-color: transparent;
    color: rgba(238, 42, 42, 0.4);
}


/* section 6 */

#stats-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f6fcfa;
}

.stats-item {
    display: block;
    text-align: center;
    padding: 50px;
}

.stats-item h3 {
    font-size: 50px;
    margin-bottom: 0;
}

.stats-item p {
    color: #57e3b5;
    margin-top: 0;
    letter-spacing: 0.5px;
    font-style: italic;
}


/* section 7 */

#video-section h1 {
    color: #8b8b99;
    font-size: 44px;
    font-weight: 400;
}

#video-section div {
    margin: 0 auto;
    display: block;
    text-align: center;
}

#line {
    width: 96px;
    height: 1px;
    background-color: #e4b476;
}

#video-section iframe {
    margin-top: 36px;
    width: 100%;
    height: 425px;
}

#address-wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

#address-wrapper>div {
    width: 50%;
    display: block;
}

#address-wrapper>div:last-of-type {
    width: 40%;
    display: block;
}

.green-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}

.section-heading {
    font-size: 600;
    font-size: 44px;
    margin: 0;
}

.section-description {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
}

.address-heading {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 32px;
}

.address-lines {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
    line-height: 2;
    margin: 0;
}

.input-box {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#btn-submit {
    font-size: 16px;
    width: 150px;
    height: 40px;
    background-color: #aad236;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #232323;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px 0px;
}

@media (max-width: 900px) {
    .menu-item {
        display: none;
    }
    .primary-button {
        margin-right: 0
    }
    #sect1>h1 {
        font-size: 28px;
    }
    #sect1>p {
        padding: 16px;
        box-sizing: border-box;
    }
    #sect2 {
        width: 100%;
        flex-direction: column;
    }
    .block {
        width: 100%;
    }
    #store-section {
        padding: 16px;
        box-sizing: border-box;
    }
    #store-section h3 {
        font-size: 28px;
    }
    #store-items-wrapper {
        flex-direction: column;
        text-align: center;
    }
    .store-item {
        width: 100%;
        box-sizing: border-box;
    }
    #workers-section {
        padding: 16px;
        box-sizing: border-box;
    }
    #workers-section>h3 {
        font-size: 28px;
    }
    #workers {
        flex-direction: column;
    }
    .workers-column {
        width: 100%;
        box-sizing: border-box;
    }
    .workers-column h3 {
        font-size: important 18px;
    }
    #subscribe-section {
        flex-direction: column;
    }
    #right-section #text-wrapper {
        margin: 16px;
    }
    #right-section #text-wrapper h1 {
        font-size: 28px;
    }
    #left-section {
        width: 100%;
    }
    #right-section {
        width: 100%;
    }
    #stats-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #stats-item {
        width: 100%;
    }
    #address-wrapper {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 16px;
        padding-top: 0;
        box-sizing: border-box;
    }
    #address-wrapper>div {
        width: 100%;
    }
}
